<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Contact Info</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">First Name:</th>
                <td><%= @volunteer.first_name %></td>
            </tr>
            <tr>
                <th scope="row">Last Name:</th>
                <td><%= @volunteer.last_name %></td>
            </tr>
            <tr>
                <th scope="row">Email:</th>
                <td><%= @volunteer.email_address %></td>
            </tr>
            <tr>
                <th scope="row">Phone:</th>
                <td><%= @volunteer.phone %></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                  <% if (@member_type) %>
                    <%= link_to(@member_type.name, member_type_path(@member_type)) %>
                  <% else %>
                    No Membership Type has been selected for this user.
                  <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @volunteer.notes  %></td>
            </tr>
        </tbody>
    </table>
</div>
