<!-- Planned Shifts: -->
<div>
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
            <th scope="col">Planned Shifts</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Actual Time</th>
            </tr>
        </thead>
        <tbody>
          <% @planned_shifts.each do |shift| %>
            <tr>
                <% if (shift.name.to_s.empty?) %>
                  <td><%= link_to("[Shift]", planned_shift_path(shift)) %></td>
                <% else %>
                  <td><%= link_to(shift.name, planned_shift_path(shift)) %></td>
                <% end %>
                <td><%= shift.start_time.strftime("%I:%M %p") %> - <%= shift.end_time.strftime("%I:%M %p") %></td>
                <td><%= shift.start_time.strftime("%a, %b %d") %></td>
                <td>
                  <%= render(:partial => 'planned_shifts/check_in_or_out_button', :locals => {:shift => shift}) %>
                </td>
            </tr>
          <% end %>
          <% if (@planned_shifts.empty?) %>
            <tr>
              <td> No Planned Shifts yet. </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
