<% @page_title = "View Volunteer" %>

<h5><span class="fas fa-user"></span> Volunteer Record</h5>

<p>
    <%#= link_to "View All Volunteers", volunteers_path, :class => 'btn btn-light' %>
    <%= link_to(volunteers_path, :class => 'btn btn-light') do %>
        <span class="fas fa-angle-left"></span> View All Volunteers
    <% end %>
</p>

<div class="card">
  <div style="padding: 8px" class="card-header">
    <h2><%= full_name(@volunteer) %></h2>
  </div>
  <div style="padding: 2px" class="card-body">
    <%= render(:partial => 'info_table') %>
  </div>
  <div style="padding: 8px" class="card-footer">
    <div class="row">
      <div class="col-6">
        <%= link_to "Edit", edit_volunteer_path(@volunteer), :class => 'btn btn-primary btn-block' %>
      </div>
      <div class="col-6">
        <%= link_to("Delete", delete_volunteer_path(@volunteer), :class => 'btn btn-danger btn-block') %>
      </div>
    </div>
  </div>
</div>

<br>

<p>
  <%= link_to "Add Time Record", new_time_record_path(:volunteer_id => @volunteer.id), :class => 'btn btn-success btn-block' %>
</p>
<p>
  <%= link_to "View all Planned Shifts for this Volunteer", planned_shifts_path(:volunteer_id => @volunteer.id), :class => 'btn btn-info btn-block' %>
</p>

<p>
  <%= link_to "View all Time Records for this Volunteer", time_records_path(:volunteer_id => @volunteer.id), :class => 'btn btn-info btn-block' %>
</p>
