<% @page_title = "Member Types" %>

<h2>Member Types</h2>

<p>
    <%= link_to "Add Member Type", new_member_type_path, :class => 'btn btn-success' %>
</p>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Quota Hours</th>
            <th scope="col">Members</th>
            <th scope="col">More Info</th>
            </tr>
        </thead>
        <tbody>
            <% @member_types.each do |member_type| %>
                <tr>
                    <td><%= link_to member_type.name, member_type_path(member_type) %></td>
                    <td><%= link_to (member_type.quota_hours.to_s + " hours"), member_type_path(member_type) %></td>
                    <td><%= link_to (member_type.volunteers_with_this_member_type.count.to_s + " members"), member_type_path(member_type) %></td>
                    <td><%= link_to "Details", member_type_path(member_type), :class => 'btn btn-secondary' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<% if @member_types.blank? %>
  <h4>
    There are no Member Types yet.
  </h4>
<% end %>
